{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "jsxBracketSameLine": false
}

