.videoLink {
  display: block;
  position: relative;
  text-decoration: none;
}

.imageContainer {
  position: relative;
  width: fit-content;
}

.titleOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 0 0 6px 6px;
}

.videoTitle {
  margin: 0;
  font-size: 16px;
}

.message {
  margin-top: 300px;
}
